.notes-container {
    padding: 2px 16px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 280px;
    padding: 16px 16px;
    margin: 10px;
    background-color: #a6c4ff;
    text-align: center;
}