/* Font size: 300, 400 & 500 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

#base {
    padding-top: 100px;
    padding-left: 420px;
    padding-right: 420px;

}
