{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedulilindungi2.0 | Daftar Vaksin</title>

    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>DAFTAR VAKSIN</h1>
        </div>
        <div class="input-container">
            <form method="POST" action="" id="daftarVaksinForm" tempat-url="{% url 'ajax-load-tempat' %}" novalidate>
                {%csrf_token%}
                <div class="input">
                    <label for="">Kota</label>
                    <br>
                    {{form.kota}}
                </div>
                <div class="input">
                    <label for="">Tanggal</label>
                    <br>
                    {{form.tanggal}}
                </div>
                <div class="input">
                    <label for="">Jenis Vaksin</label>
                    <br>
                    {{form.jenis_vaksin}}
                </div>
                <div class="input" id="tempat">
                    <label for="">Tempat</label>
                    <br>
                    {{form.tempat}}
                </div>
                <div class="input">
                    <label for="">Waktu</label>
                    <br>
                    {{form.waktu}}
                </div>
                <input class="btn" type="submit" value="Daftar Vaksinasi">
            </form>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#daftarVaksinForm").change(function () {
            var url = $("#daftarVaksinForm").attr("tempat-url");  // get the url of the `load_cities` view
            var kotaId = $(this).val();  // get the selected country ID from the HTML input

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    'kotaId': kotaId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#tempat").html(data);  // replace the contents of the city input with the data that came from the server
                }
            });

        });
    </script>
</body>
</html>