{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Vaksin | Pedulilindungi2.0</title>

    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>DAFTAR VAKSIN</h1>
        </div>
        <div class="input-container">
            <form method="POST" action="" id="daftarVaksinForm" tempat-url="{% url 'ajax-load-tempat' %}" tanggal-url="{% url 'ajax-load-tanggal' %}" jenis-url="{% url 'ajax-load-jenis-vaksin' %}" novalidate>
                {%csrf_token%}
                <div class="input" id="kota">
                    <label for="">Kota</label>
                    <br>
                    {{form.kota}}
                </div>
                <div class="input" id="tanggal">
                    <label for="">Tanggal</label>
                    <br>
                    {{form.tanggal}}
                </div>
                <div class="input" id="jenis_vaksin">
                    <label for="">Jenis Vaksin</label>
                    <br>
                    {{form.jenis_vaksin}}
                </div>
                <div class="input" id="tempat">
                    <label for="">Tempat</label>
                    <br>
                    {{form.tempat}}
                </div>
                <button class="btn" type="submit" value="Daftar Vaksinasi">Daftar Vaksinasi</button>
            </form>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#id_kota").change(function () {
            var url = $("#daftarVaksinForm").attr("tanggal-url");  
            var kotaId = $(this).val();  

            $.ajax({                       
                url: url,                    
                data: {
                    'kota': kotaId       
                },
                success: function (data) {   
                    $("#id_tanggal").html(data);  
                }
            });

        });

        $("#id_tanggal").change(function () {
                var url = $("#daftarVaksinForm").attr("jenis-url");
                var tanggalId = $(this).val();

                $.ajax({
                    url: url,
                    data: {
                        'tanggal': tanggalId
                    },
                    success: function (data) {
                        $("#id_jenis_vaksin").html(data);
                    }
                });

            });

        $("#id_jenis_vaksin").change(function () {
            var url = $("#daftarVaksinForm").attr("tempat-url");  
            var jenisVaksinId = $(this).val();  

            $.ajax({                      
                url: url,                    
                data: {
                    'jenis_vaksin': jenisVaksinId       
                },
                success: function (data) {   
                    $("#id_tempat").html(data);  
                }
            });

        });
        
    </script>
</body>
</html>