<div class="notes-content">
    <h3>JUDUL NOTES</h3>
    <p>Konten Dari Notes. Isinya Lorem Ipsum</p>
    <div class="small-btn-container">
        <div class="small-btn">
            <a href="#" class="edit-btn-txt">Ubah Catatan</a>
            <span class="material-icons" style="color: #3561FF;">mode_edit</span>
        </div>
        <div class="small-btn">
            <a href="#" class="delete-btn-txt">Hapus Catatan</a>
            <span class="material-icons" style="color: #FF2222;">delete_forever</span>
        </div>
    </div>
</div>