
<!-- OVERALL TEMPLATE -->

<!-- <div class="notes-content">
    <h3>JUDUL NOTES</h3>
    <p>Konten Dari Notes. Isinya Lorem Ipsum</p>
    <div class="small-btn-container">
        <div class="small-btn">
            <a href="#" class="edit-btn-txt">Ubah Catatan</a>
            <span class="material-icons" style="color: #3561FF;">mode_edit</span>
        </div>
        <div class="small-btn">
            <a href="#" class="delete-btn-txt">Hapus Catatan</a>
            <span class="material-icons" style="color: #FF2222;">delete_forever</span>
        </div>
    </div>
</div> -->


<!-- TEMPLATE FOR SYSTEM GENERATED INFO -->


<h3>KEPERLUAN VAKSIN</h3>
<p>Pastikan anda telah membaca syarat dan prosedur vaksin di tempat anda. Berikut adalah poin penting umum yang perlu diperhatikan: </p>
<ol>
    <li>Siapkan dokumen yang harus dibawa saat vaksinasi. Pastikan Anda membawa KTP dan Dokumen/bukti/tanda peserta vaksinasi.</li>
    <li>Kenakan pakaian yang memudahkan vaksinator (orang yang menyuntikkan vaksin) untuk mengakses lengan atas Anda. Vaksinasi dilakukan di otot deltoid, otot besar di bahu.</li>
    <li>Hindari asupan alkohol pada malam sebelumnya untuk mempersiapkan vaksinasi. Minumlah air mineral cukup sebelum mendapatkan vaksin.</li>
    <li>Sebaiknya jangan vaksinasi dalam keadaan lapar. Bagi Anda yang takut jarum suntik atau memiliki riwayat pingsan, sangat disarankan untuk makan terlebih dahulu sebelum vaksinasi.</li>
    <li>Tidak disarankan untuk mengonsumsi obat pereda nyeri seperti asetaminofen, ibuprofen atau lainnya sebelum vaksinasi.</li>
</ol>
<p style="color:grey; font-style: italic;">Catatan ini dibuat secara otomatis oleh sistem</p>
<div class="small-btn-container">
    <div class="disabled-small-btn">
        <a class="disabled-btn-txt">Ubah Catatan</a>
        <span class="material-icons" style="color: grey;">mode_edit</span>
    </div>
    <div class="disabled-small-btn">
        <a class="disabled-btn-txt">Hapus Catatan</a>
        <span class="material-icons" style="color: grey;">delete_forever</span>
    </div>
</div>
