<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>

        <meta charset="UTF-8" />
        <title>User Profile</title>

        <link rel="stylesheet" href="{% static 'css/profil_penerima/main.css' %}" />
        <link rel="stylesheet" href="{% static 'css/profil_penerima/button.css' %}" />
        <link rel="stylesheet" href="{% static 'css/profil_penerima/reminders.css' %}" />
        <link rel="stylesheet" href="{% static 'css/profil_penerima/modal.css' %}" />
        <link rel="stylesheet" href="{% static 'css/profil_penerima/forms.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script>
            const editbtn = [];
            const delbtn = [];

            $(document).ready(function(){
                $.ajax({
                    url: "/profil-penerima/get-msg", 
                    success: function(result){
                        // there are Messages to Display
                        if(result.id == undefined){
                            for(i=0; i < result.length; i++){
                                console.log(result)
                                editbtn[i] = ('<div class="small-btn"><a onclick="editFunction(this)" id="' + result[i].pk + '" class="edit-btn-txt">Ubah Catatan</a><span class="material-icons" style="color: #3561FF;">mode_edit</span></div>');
                                delbtn[i] = ('<div class="small-btn"><a onclick="deleteFunction(this)" id="' + result[i].pk + '" class="delete-btn-txt">Hapus Catatan</a><span class="material-icons" style="color: #FF2222;">delete_forever</span></div>');

                                $(".main-notes-container").append(
                                    '<div class="notes-content" id="row'+result[i].pk+'">'+
                                        "<h3>"+result[i].fields.msg_title+"</h3>"+
                                        "<p>"+result[i].fields.msg_message+"</p>"+
                                        '<div class="small-btn-container">'+editbtn[i]+delbtn[i]+"</div"+
                                    "</div>"
                                );
                            }
                        }
                        // there are NO messages
                        else{
                            console.log("No Messages to Show") 
                        }       
                }});
            });

            function showLogoutModal() {
                $(function(){
                    $(".modal-placeholder").load("/profil-penerima/logout");
                });
            }

            function showAddMessageModal() {
                $(function(){
                    $(".modal-placeholder").load("/profil-penerima/notes/add");
                });
            }

            function editFunction(elem) {
                $(function(){
                    console.log("Pressed")
                });
            }

            function deleteFunction(elem) {
                $(function(){
                    $(".modal-placeholder").load("/profil-penerima/notes/delete/"+elem.id);
                    console.log("Pressed")

                    // $.ajax({
                    //     url: "/profil-penerima/notes/delete/confirm"+elemID, 
                    //     success: function(result){
                    //         var tdElements = rowElement.getElementsByTagName("td");
                    //         console.log(tdElements[0].innerHTML);
                    //         console.log(result[0].fields.msg_to);
                    //         tdElements[0].innerHTML = result[0].fields.msg_to;
                    //         tdElements[1].innerHTML = result[0].fields.msg_from;
                    //         tdElements[2].innerHTML = result[0].fields.msg_title;     
                    // }});
                });
            }

        </script>

    </head>
<body>

    <div class="navbar-placeholder"></div>
    <div class="modal-placeholder"></div>

    <div class="main">
        <div class="headers">
            <h1>PROFIL PENGGUNA</h1>
            <div class="small-btn">
                <a href="#" class="edit-btn-txt">Ubah Data</a>
                <span class="material-icons" style="color: #3561FF;">mode_edit</span>
            </div>
        </div>

        <div class="content">

            <div class="rows">
                <div class="data">
                    <h5>NIK</h5>
                    <p>{{ penerima.NIK }}</p>
                </div>
                <div class="data">
                    <h5>NAMA LENGKAP</h5>
                    <p>{{ penerima.namaLengkap }}</p>
                </div>
                <div class="data">
                    <h5>EMAIL</h5>
                    <p>{{ user.email }}</p>
                </div>
                <div class="data">
                    <h5>ALAMAT</h5>
                    <p>{{ penerima.alamat }}</p>
                </div>
            </div>

            <div class="rows">
                <div class="data">
                    <h5>NOMOR HANDPHONE</h5>
                    <p>{{ penerima.nomorHandphone }}</p>
                </div>
                <div class="data">
                    <h5>TANGGAL LAHIR</h5>
                    <p>{{ penerima.tanggalLahir }}</p>
                </div>
                <div class="data">
                    <h5>JENIS KELAMIN</h5>
                    <p>{{ penerima.jenisKelamin }}</p>
                </div>
            </div>

        </div>

        <div class="btn-container">
            <button class="button-primary-icon">
                <span class="material-icons" style="color: white;">credit_card</span>
                <p>Lihat Tiket Vaksin</p>
            </button>
        </div>
        <div class="btn-container">
            <button class="button-primary-icon-danger" id="logoutBtn" onclick="showLogoutModal()">
                <span class="material-icons" style="color: white;">logout</span>
                <p>Logout</p>
            </button>
        </div>

        <div class="main-notes-container">
            <div class="notes-container-header">
                <h2>CATATAN PENGINGAT</h2>
                <p>Butuh catatan sebagai pengingat untuk dirimu?</p>
                <p>Buat dan simpan catatanmu di sini!</p>
            </div>
            <div class="btn-container">
                <button class="button-secondary" onclick="showAddMessageModal()">Tambah Catatan Baru</button>
            </div>
        </div>

    </div>

    <div class="footer-placeholder"></div>

</body>

</html>