<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header-white">
        <h2 style="color: #1ab50e;">Data berhasil diubah!</h2>
        <span class="close-white">&times;</span>
      </div>
      <div class="modal-body">
        <div class="btn-container-row">
            <button class="button-primary-icon-success" onclick="location.href = '/profil-penerima/';">
                <span class="material-icons" style="color: white;">check_circle</span>
                <p>Kembali</p>
            </button>
        </div>
      </div>
    </div>
  
</div>
  
<script>
// Get the modal
var modal = document.getElementById("myModal");
var span = document.getElementsByClassName("close-white")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = () => closeModal();

function closeModal() {
    $(function(){
        modal.style.display = "none";
        $("#modal-placeholder").empty();
        location.href = '/profil-penerima/';
    });
}
  
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
        $("#modal-placeholder").empty();
        location.href = '/profil-penerima/';
    }
}
</script>