
<h3>Anda belum mendaftarkan diri untuk ikut vaksinasi</h3>
<p>Silakan daftarkan diri anda terlebih dahulu</p>
<div class="btn-container">
    <button class="button-primary-icon" onclick="createVaccine()">
        <span class="material-icons" style="color: white;">vaccines</span>
        <p>Daftar Vaksinasi</p>
    </button>
</div>

<script>

    // Change this after JadwalVaksin is finished
    function createVaccine() {
        $(function(){
            location.href = '/profil-penerima/';
        });
    }

</script>