@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --black: #000000;
    --grey: #8C8B8B;
    --blue: #3562FF;
    --white: #FFFFFF;
    --hover_blue: #2956F4;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin-bottom: 114px;
}

.container {
    margin: 64px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container {
    margin-top: 32px;
}

.btn {
    background-color: var(--blue);
    color: var(--white);
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    width: 480px;
    border: none;
    
}

button:hover {
    cursor: pointer;
    background-color: var(--hover_blue);
}

.input {
    margin-bottom: 16px;
    width: 100%;
}

#id_kota, #id_tanggal, #id_jenis_vaksin, #id_tempat, #id_waktu {
    width: 100%;
    padding: 8px;
}
