@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
    --black: #000000;
    --grey: #8C8B8B;
    --blue: #3562FF;
    --white: #FFFFFF;
    --hover_blue: #2956F4;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.container {
    margin: 114px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container {
    margin-top: 32px;
}

.btn {
    background-color: var(--blue);
    color: var(--white);
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    width: 480px;
    border: none;
    
}

button:hover {
    cursor: pointer;
    background-color: var(--hover_blue);
}

.input {
    margin-bottom: 16px;
    width: 100%;
}

#id_kota, #id_tanggal, #id_jenis_vaksin, #id_tempat{
    width: 100%;
    padding: 8px;
}

header {
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: fixed; 
    height: 43px;
    
}

nav {
    padding-top: 10px;
    margin-right: 10px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    font-family: 'Poppins';
    font-size: 12px;
}

.now {
    background-color: rgb(11, 36, 255);
    color: white;
}

.logo {
    font-family: 'Rubik', sans-serif;
    padding-top: 10px;
    margin-left: 10px;
    font-weight: bold;
    display: none;
}


.tulisan:hover {
    color: rgb(21, 17, 255);
    transition: all, .2s;
    
}

.now:hover {
    color :rgb(192, 192, 192);
    transition: all, .2s;
    background-color: rgb(0, 22, 216);
}

.logo:hover {
    opacity: 70%;
    transition: all, .2s;
}

@media only screen and (min-width: 600px) {
    header {
        display: flex;
        justify-content: space-between;
        background-color: rgb(255, 255, 255);
        width: 100%;
        position: fixed; 
        height: 56px;
        padding-top: 5px;
        
    }

    nav {
        padding-top: 15px;
        margin-right: 50px;
    }

    a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        padding-right: 30px;
        padding-bottom: 18px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        font-family: 'Poppins';
        font-size: 14px;
    }

    .now {
        background-color: rgb(11, 36, 255);
        color: white;
    }

    .logo {
        font-family: 'Rubik', sans-serif;
        padding-top: 15px;
        margin-left: 30px;
        font-weight: bold;
        display: block;
    }


    .tulisan:hover {
        color: rgb(21, 17, 255);
        transition: all, .2s;
        
    }

    .now:hover {
        color :rgb(192, 192, 192);
        transition: all, .2s;
        background-color: rgb(0, 22, 216);
    }

    .logo:hover {
        opacity: 70%;
        transition: all, .2s;
    }
}