/* LANDING PAGE */
.landing {
    background: url("../../static/img/bg2.jpg");
    background-repeat: no-repeat;
    background-position-y: 55px;
    /* background-position-x: -10px; */
    background-size: cover;
    padding-top: 275px;
    padding-bottom: 250px;
}

.landing .title {
    font-family: poppins; 
    margin-bottom: 3%; 
}

.landing .title .top {
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 0px;
}

.landing .title .bottom {
    font-weight: bolder;
}
/* 
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)
} */


.btn-primary {
    background: linear-gradient(to right, #0000ff, #6464ff);
    border-color: transparent;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 0px;
}

.btn-primary:hover {
    background: linear-gradient(to left, #0000ff, #6464ff);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    transition: 2s;
    
}

.btn-outline-primary {
    background: linear-gradient(to right, #aae4ff, #c5c5ff);
    color: rgb(101, 74, 255);
    border-color: transparent;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 0px;
}

.btn-outline-primary:hover {
    color: rgb(107, 91, 255);
    background-color: white;
    background-image: none;
    border-color: rgb(255, 255, 255)
}


.about {
    display: flex;
    background-color: rgb(255, 255, 255);
    padding-top: 250px;
    padding-bottom: 130px;
}

.about-text {
    margin-left: 50px;
    margin-right: 50px;
}

.about-text h2 {
    font-family: poppins;
    font-weight: bold;
}


.about-img {
    margin-right: 50px;
}

.faq {
    background-color: rgb(218, 255, 250);
    padding-top: 100px;
    padding-bottom: 70px;
    
}

.faq .container {
    display: flex;
    justify-content: space-between;
}

.faq h2 {
    font-family: poppins;
    font-weight: bold;
}

.faq .template {
    max-width: 60%;
}

.faq .question {
    font-weight: bold;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 0px;
}
.faq .answer {
    margin-left: 50px;
}

.faq .to-forum {
    margin-top: 90px;
    font-family: poppins;
    font-size: xx-large;
    margin-left: 200px;

}


.faq a {
    font-family: poppins;
    font-size: xx-large;
}

.forum {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.thread-box {
    border: 3px rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 2px rgb(201, 201, 201);
}

.question-title {
    font-size: larger;
    font-weight: bold;
    margin-bottom: -10px;
}

.question-by {
    font-size: small;
    margin-top: -10px;
    color: rgb(167, 167, 167);
}

.reply-button {
    background-color: transparent;
    border: none;
    text-transform: lowercase;
    cursor: pointer;
}

blockquote {
    border-left: 6px solid lightgrey;
    padding-left: 6px;
    margin-left: 15px;
}

.reply-form-container {
    display: none;
    
}
.reply-form-container-enabled{
    display: block;

}

