/* LANDING PAGE */
.landing {
    background: url("../../static/img/bg2.jpg");
    background-repeat: no-repeat;
    background-position-y: 55px;
    background-size: cover;
    padding-top: 250px;
    padding-bottom: 250px;
}

.landing .title {
    font-family: poppins; 
    margin-bottom: 3%; 
}

.landing .title .top {
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 0px;
}

.landing .title .bottom {
    font-weight: bolder;
}

.btn-primary {
    background: linear-gradient(to right, #0000ff, #8b8bff);
    border-color: transparent;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 0px;
}

.btn-primary:hover {
    background: #0000ff;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    transition: 1s;  
}

.btn-outline-primary {
    background: linear-gradient(to right, #d2f1ff, #c5c5ff);
    color: rgb(101, 74, 255);
    border-color: transparent;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 0px;
}

.btn-outline-primary:hover {
    color: rgb(107, 91, 255);
    background: white;
    border-color: rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    transition: 1s;  
}

/* ABOUT PAGE */
.about {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-bottom: 90px;
}

.about-text {
    max-width: 600px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 250px;
}

.about-text h2 {
    font-family: poppins;
    font-weight: bold;
}

.about-img {
    margin-top: 50px;
    margin-right: 50px;
    z-index: 2;
}

.circle {
    position: absolute;
    top: 680px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e5fdff;
    clip-path: circle(650px at left);
}

/* FAQ PAGE */
.faq {
    background-color: white;
    padding-top: 100px;
    padding-bottom: 70px;
}

.faq .container {
    display: flex;
    justify-content: space-between;
}

.faq h2 {
    font-family: poppins;
    font-weight: bold;
}

.faq .template {
    max-width: 60%;
}

.faq .question {
    font-weight: bold;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 0px;
}
.faq .answer {
    margin-left: 20px;
}

.faq .to-forum {
    margin-top: 90px;
    font-family: poppins;
    font-size: x-large;
    margin-left: 50px;
}

.to-forum a {
    color: rgb(130, 132, 255);
    font-family: poppins;
    font-size: x-large;
}

.close {
    padding-right: 20px;
    padding-top: 5px;
}


/* FOR AUTHENTICATED USER ONLY */
/* forum */
.forum {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 150px;
}

.forum .top {
    display: flex;
    justify-content: space-between;
}

.new-question-container {
    display: none;
    
}

.new-question-container-enabled{
    display: block;
    border: none;
}


.forum h2 {
    font-family: poppins;
    font-weight: bold;
}

.thread-box {
    border: 3px rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 2px rgb(201, 201, 201);
}

.question-title {
    font-size: larger;
    font-weight: bold;
    margin-bottom: -10px;
}

.question-by {
    font-size: small;
    margin-top: -10px;
    color: rgb(167, 167, 167);
}

.reply-button {
    background-color: transparent;
    border: none;
    color: cadetblue;
    text-decoration: underline;
    cursor: pointer;
    margin: 0px 20px 20px 20px;
    font-size: small;
}

blockquote {
    border-left: 6px solid rgb(230, 230, 230);
    padding-left: 6px;
    margin-left: 15px;
}

.reply-form-container {
    display: none;
    
}
.reply-form-container-enabled{
    display: block;
    border: none;

}

.quest-title {
    font-family: poppins;
    font-weight: bolder;
    margin-bottom: 3px;
    margin-left: 20px;
}

.quest-author {
    margin-left: 20px;
    color: grey;
}

.quest-body {
    margin-left: 20px;
    font-size: large;
}

.head {
    background-color: rgb(240, 240, 240);
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-forum {
    margin: 50px 50px 50px 50px;
}

.nothing {
    margin: 20px 20px 20px 20px;
    font-weight: bold;
}

.response-body {
    margin: 20px 20px 0px 20px ;
}
.response-author {
    margin: 0px 20px 0px 20px ;
}