{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'header.css' %}">
    </head>

    <body>
    <header  style="z-index: 3;">
        <p class="logo">PeduliLindungi2.0</p>
        <nav>
            <a class="now" href="">Home</a>
            <a class="tulisan" href="daftar-vaksin">Daftar Vaksin</a>
            <a class="tulisan" href="profil-penerima">Profile</a>
            <a class="tulisan" href="auth/logout">Log Out</a>
        </nav>
    </header>
    </body>

</html>
