{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        {% block meta %}
        <title>New Question | PeduliLindungi2.0</title>
        {% endblock meta %}
    </head>

    <body>
        {% block content %}
            {% include 'main/header.html' %}
        

        <form method="POST" action="" class="new-question-form" style="padding-top: 100px;">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>
        
        {% endblock %}
    </body>