<div class="modal fade" id="multiFuncModals" data-bs-backdrop="static" data-bs-keyboard="false" 
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content mx-auto">
            <div class="modal-header">
                <p class="modal-title fs-3 fw-bolder" id="exampleModalLabel">Confirmation</p>
            </div>
            <div class="modal-body">
                <p class="text-center fw-bolder fs-4" id="mbody1"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn danger fw-bolder fs-5 mx-2 round" data-bs-dismiss="modal" id="no">No</button>
                <button type="button" class="btn success fw-bolder fs-5 mx-2 round" id="yes">
                    <a href="/" class="text-decoration-none" id="destination">Yes</a>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalResult" data-bs-backdrop="static" data-bs-keyboard="false" 
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content mx-auto" id="modContResult"></div>
    </div>
</div>

<div class="modal fade" id="modalInfo" data-bs-backdrop="static" data-bs-keyboard="false" 
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content mx-auto" id="modInfoResult">
            <a href="/" class="text-decoration-none text-white" id="anchor">
                <div class="modal-body px-auto" id="modDiv3">
                    <p class="text-center text-white fw-bolder fs-4" id="mbody3">
                        <!-- <i class="fas fa-user-circle fa-lg"></i> 
                        Silahkan kunjungi profil Anda untuk mengedit biodata! -->
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>