
/* https://cssfx.netlify.app/ */

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.headers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headers h1 {
    margin: 0px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0rem 12rem;
    margin: 2rem;
}

.rows {
    display: flex;
    flex-direction: column;
}

.data {
    margin-top: 0.6rem;
}

.data h5, .data p {
   margin: 0.6rem; 
   max-width: 20rem;
}