<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>

        <meta charset="UTF-8" />
        <title>Ubah Data Penyedia | PeduliLindungi2.0</title>

        <link rel="stylesheet" href="{% static 'css/profil_penyedia/main_ubah_data_penyedia.css' %}" />
        <link rel="stylesheet" href="{% static 'css/profil_penyedia/button_ubah_data_penyedia.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    </head>
<body>

    <div class="navbar-placeholder"></div>

    <div class="main">
        <div class="header">
            <h1>UBAH DATA PENYEDIA</h1>
        </div>

        <div class="form_container">
            <div class="rows">
                <div class="data">
                    <h5>Nama Instansi</h5>
                </div>
                <div class="data">
                    <h5>Kota</h5>
                </div>
                <div class="data">
                    <h5>Nomor Telepon</h5>
                </div>
                <div class="data">
                    <h5>Alamat</h5>
                </div>
            </div>

            <div class="rows">
                <form action="" method="POST">
                    <div class="field">
                        {% csrf_token %}
                        <input type="text">
                    </div>
                    <div class="field">
                        {% csrf_token %}
                        <input type="text">
                    </div>
                    <div class="field">
                        {% csrf_token %}
                        <input type="text">
                    </div>
                    <div class="field">
                        {% csrf_token %}
                        <input type="text">
                    </div>
                </form>
            </div>
        </div>

        <div class="btn-container">
            <button class="btn-batal">
                <p>Batal</p>
            </button>
            <button class="btn-simpan">
                <p>Simpan</p>
            </button>
        </div>
    </div>

    <div class="footer-placeholder"></div>

</body>
</html>